<?xml version="1.0"?>
<odoo>

    <menuitem name="KPI"
              id="menu_kpi_main"
              sequence="50"
              groups="kpi_scorecard.group_kpi_user"
              web_icon="kpi_scorecard,static/description/icon.png"
    />  
    <menuitem name="KPI Scorecard"
              id="menu_kpi_scorecard"
              parent="menu_kpi_main"
              action="kpi_scorecard.kpi_scorecard_line_action"
              sequence="10"
              groups="kpi_scorecard.group_kpi_user"
    />
    <menuitem name="Periods"
              id="menu_kpi_period"
              parent="menu_kpi_main"
              action="kpi_scorecard.kpi_period_action"
              sequence="10"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="KPIs"
              id="menu_kpi_kpi"
              parent="menu_kpi_main"
              action="kpi_scorecard.kpi_item_action"
              sequence="20"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <!-- Measurements -->
    <menuitem name="Measurements"
              id="menu_kpi_measurements_general"
              sequence="50"
              parent="menu_kpi_main"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="Measurements (Variables)"
              id="menu_kpi_measures"
              parent="menu_kpi_measurements_general"
              action="kpi_scorecard.kpi_measure_item_action"
              sequence="10"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="Constants"
              id="menu_kpi_constants"
              parent="menu_kpi_measurements_general"
              action="kpi_scorecard.kpi_constant_action"
              sequence="20"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="Basic Measurements"
              id="menu_kpi_basic_measures"
              parent="menu_kpi_measurements_general"
              action="kpi_scorecard.kpi_measure_action"
              sequence="30"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <!-- History analysis -->
    <menuitem name="KPI Trends"
              id="menu_kpi_history"
              sequence="60"
              parent="menu_kpi_main"
              groups="kpi_scorecard.group_kpi_admin"
              action="kpi_scorecard.kpi_scorecard_line_action_report"
    />
    <!-- Configuration -->
    <menuitem name="Configuration"
              id="menu_kpi_conf"
              sequence="100"
              parent="menu_kpi_main"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="KPI Categories"
              id="menu_kpi_categories"
              parent="menu_kpi_conf"
              action="kpi_scorecard.kpi_category_action"
              sequence="10"
              groups="kpi_scorecard.group_kpi_admin"
    />
    <menuitem name="Settings"
              id="menu_kpi_settings"
              parent="menu_kpi_conf"
              action="kpi_scorecard.res_config_settings_kpi_scorecard_action"
              sequence="100"
              groups="kpi_scorecard.group_kpi_admin"
    />

</odoo>
