/* Overload standard jstree styles */
div.kpi-kanban-navigation-panel > .jstree-default .jstree-hovered {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 1px #cccccc;
}
div.kpi-kanban-navigation-panel > .jstree-default .jstree-context {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 1px #cccccc;
}
div.kpi-kanban-navigation-panel > .jstree-default .jstree-clicked {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
}
.kpi_selected_parent > a:not(.jstree-checked) {
    border: 1px dotted white !important;
}
/* Generic kanban styles*/
.kpi-kanban-flex {
    display: flex !important;
}
.kpi-kanban-view {
    overflow: auto !important;
    flex: 1 1;
    position: relative !important;
}
/* Navigation */
.kpi-kanban-navigation {
    flex: 0 0 360px;
    background-color: #212529;
    display: block;
    color: #dee2e6;
    overflow: auto;
}
.kpi-kanban-navigation-content {
    display: block;
    width: 100%;
}
.kpi-kanban-navigation-header {
    color: #dee2e6;
    width: 100%;
    padding: 3% 0% 1% 8%;
    font-size: 13pt;
}
.kpi-kanban-navigation-panel {
    width: 100%;
    padding: 3% 2% 1% 8%;
}
.kpi-kanban-selection-div {
    padding-right: 4%;
    padding-top: 3pt;
}
.kpi-kanban-selection-input {
    color: #dee2e6;
    min-width: 150px;
    font-size: 12pt;
    background-color: #2E2E2E;
    padding: 4px;
    border: none;
    margin-bottom: 8px;
    text-shadow: 0 1px 0 #1A1A1A;
}
.kpi-kanban-selection-input option {
    color: #dee2e6;
}
.kpi-kanban-button {
    cursor: pointer;
}
.kpi-kanban-button:hover {
    color: white;
}
.kpi-kanban-hr {
    background-color: #dee2e6;
    width: 100%;
}
.kpi-kanban-clear-icon {
    font-size: 9pt;
    padding-left: 3px;
}
.kpi-kanban-navigation-button {
    cursor: pointer;
    background-color: #2E2E2E;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0 1px 0 fade_out(white, 0.9), 0 1px 0 fade_out(white, 0.9);
    text-shadow: 0 1px 0 #1A1A1A;
    color: #cccccc;
    flex: 1 1;
}

/* KPI tables*/
.kpi-kanban-record-card {
    width: 100% !important;
    box-shadow: none !important;
    margin: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #ced4da !important;    
    display: flex !important;
}
.kpi-kanban-record-card:hover {
    background-color: #f2f6fc;
}
.kpi-kanban-info {
    flex: 0 0 45%;
    padding: 0 5px;
}
.kpi-kanban-figures {
    flex: 0 0 15%;
    padding: 0 5px;
    font-size: 120%;
}
.kpi-kanban-figures-target {
    flex: 0 0 15%;
    padding: 0 5px;
    font-size: 120%;
}
.kpi-kanban-prorgess {
    flex: 0 0 15%;
    padding: 0 5px;
    font-size: 120%;
}
.kpi-kanban-buttons {
    flex: 0 0 10%;
    padding: 0 5px !important;
}
.kpi-kanban-row-btn {
    padding: 0 3px !important;
}
.kpi-kanban-show-figures {
    padding: 5px;
}